.wrap {
    
    display: block;
    overflow: auto;
    margin: 0 auto -80px; 
    min-height: 100%;
    padding: 0 0 80px; 
    box-sizing: border-box;
    /* background-color: hsl(50, 33%, 25%, .75); */
    background-image: url("img\bg1.jpg");
    background-position: center center; 
    background-size: 100% 100%; 
    
}

.center {
    margin: auto;
    
   
    
  }

.font-size-center {
    font-size:50px;
    color: white;
    text-align: center;
}

.font-size {
    font-size: 16px;
}
p {
    font-size: 16px;
}
.bg-color{
    background-color: hsl(50, 33%, 25%, .75);
}

.block-center {
    margin: auto;

    border: 3px solid #73AD21;
    padding: 10px;
  }

